nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

nav h1 {
  margin: 0;
  font-size: 32px;
}

/* Style the link inside h1 */
nav h1 a {
  color: white;
  text-decoration: none; /* removes underline */
}

/* Navigation links */
nav .nav-links {
  display: flex;
  gap: 20px;
}

nav .nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav .nav-links a:hover {
  cursor: pointer;
  color: #ddd; /* optional hover color */
  text-decoration: underline ;
}
